.splash_backgroundOne {
   content: inherit;
   width: 100%;
}

.splash_label {
   /* border: 2px solid yellow; */
   position: absolute;
   display: flex;
   justify-content: center;
   top: 150px;
   left: 0;
   right: 0;
   bottom: 0;
   color: white;
   font-size: 50px;
   font-family: 'American Typewriter', 'Didot', 'Times New Roman', Times, serif;

   
}

.splash_word {
   color: rgb(84, 196, 240);
   margin-left: 10px;
   margin-right: 10px;
}

.splash_owner_img {
   width: 200px;
   height: 180px;
   position: absolute;
   top: 418px;
   left: 8%;
   right: 0;
   bottom: 0;
   border-radius: 100px;
}

.splash_aboutme_label {
   /* border: 2px solid red; */
   width: 100%;
   position: absolute;
   display: flex;
   justify-content: center;
   top: 85%;
   right: 0;
   bottom: 0;
   color: white;
   font-size:25px;
   font-family: 'American Typewriter', 'Didot', 'Times New Roman', Times, serif;
}

.splash_resume_label {
   /* border: 2px solid blue; */
   position: absolute;
   display: flex;
   justify-content: center;
   top: 90%;
   left: 0;
   right: 0;
   bottom: 0;
   color: rgb(84, 196, 240);
   font-size:25px;
   font-family: 'American Typewriter', 'Didot', 'Times New Roman', Times, serif;
}
